include ../components/doctype/doctype
include ../components/header/header
include ../components/content/content
include ../components/footer/footer

+doctype(pages.Charskie_peski.title)
  .-wrapper
    +header(false, [pages.Charskie_peski.url])
    +content
      article.-article-view
        .__img
          img.__img-inner(src='static/img/content/articles/one.jpg'
          alt=pages.Charskie_peski.title data-object-fit='cover' onload='objectFit(this)')

        .container-fluid
          .-article-view.__inner
            header.__header
              .__time #[span.gly.gly-down-flag]чтение 2 мин
              h1.__title=pages.Charskie_peski.title
            .__content
              p.
                Все любители песчаных барханов могут наблюдать подобные пейзажи, не выезжая за
                пределы страны. В Забайкальском крае существует место, полное противоречий.
                Называется оно — Чарские пески. Оно сочетает в себе глухую болотистую тайгу и
                песчаную пустыню, с двух сторон окруженную горными хребтами: Кодарским,
                Удоканским и Каларским. Только не обращайте внимание на странное соседство, это
                самая настоящая пустыня! Здесь случаются песчаные бури, а высота барханов
                достигает 80-ти метров.
            .__content-narrow
              p.
                В пустыне показываются участки, покрытые травами. В некоторых местах из-под
                песков сочится вода, которая вытекает в лесной ручей. Чарские пески — это
                незамерзающая земля, посреди многолетней мерзлоты. Подземные воды, наверное,
                только в этом месте способны выбраться на поверхность.
              p.
                Путешествовать по Чарской пустыне лучше всего летом, правда, оно здесь очень
                короткое: даже в конце мая случаются заморозки. Обычно Чарские пески посещают
                совместно с путешествием по Кодарскому хребту. Важно помнить, что перед тем, как
                посетить Каларский район, туристам нужно оставить свои данные в МЧС и оплатить
                «Экологический сбор».

    +footer