include ../components/doctype/doctype
include ../components/header/header
include ../components/content/content
include ../components/footer/footer

+doctype(pages.Neobyiknovennyiy_Altay.title)
  .-wrapper
    +header(false, [pages.Neobyiknovennyiy_Altay.url])
    +content
      article.-article-view
        .__img
          img.__img-inner(src='static/img/content/articles/five.jpg'
          alt=pages.Neobyiknovennyiy_Altay.title data-object-fit='cover' onload='objectFit(this)')

        .container-fluid
          .-article-view.__inner
            header.__header
              .__time #[span.gly.gly-down-flag]чтение 2 мин
              h1.__title=pages.Neobyiknovennyiy_Altay.title
            .__content
              p.
                Россия удивительна для путешествий, чтобы увидеть одновременную зеленую
                Швейцарию и одновременно Монголию, не обязательно пролететь вокруг всего света.
                Все это можно найти на Алтае. Гладкие автомобильные дороги здесь проходят через
                всю республику, но также здесь есть и высокие перевалы, и бездорожье, по которому
                можно проехать только на огромных «зилах».
            .__content-narrow
              p.
                Если вы составляете маршрут поездки, то мы настоятельно рекомендуем включить в
                путешествие остановку на Телецком озере, в Денисовой пещере, Уймонской долине.
                Конечно, обязательно нужно побывать на перевале Кату-Ярык, он настолько крутой,
                что вам понадобится мощная заднеприводная машина. Некоторым автомобилистам
                приходится останавливаться прямо на перевале и поливать тормоза холодной водой,
                поэтому будьте осторожны.
              p.
                Двигаясь до села Акташ и дальше к границе с Монголией вдоль Чуйского хребта, вы
                увидите, как резко меняется ландшафт Алтая. Горы, покрытые густыми влажными
                лесами сменяются каменными рыжими холмами и ущельями и выжженными степями.
              p.
                Другая дорога, ведущая к горе Белухе – самой высокой точке Алтайских гор – может
                заинтересовать альпинистов, которые обычно разбивают свои палаточные лагеря
                прямо у подножия горы с заснеженной вершиной.

    +footer