include ../components/doctype/doctype
include ../components/header/header
include ../components/content/content
include ../components/footer/footer

+doctype(pages.Puteshestvie_na_Elbrus.title)
  .-wrapper
    +header(false, [pages.Puteshestvie_na_Elbrus.url])
    +content
      article.-article-view
        .__img
          img.__img-inner(src='static/img/content/articles/four.jpg'
          alt=pages.Puteshestvie_na_Elbrus.title data-object-fit='cover' onload='objectFit(this)')

        .container-fluid
          .-article-view.__inner
            header.__header
              .__time #[span.gly.gly-down-flag]чтение 2 мин
              h1.__title=pages.Puteshestvie_na_Elbrus.title
            .__content
              p.
                Стоит на Кавказе, на самой границе Кабардино-Балкарии и Карачаево-Черкесии
                величественная гора – Эльбрус, который является самой высокой точкой не только
                России, но и Европы. Западная вершина в высоту 5642 метра, а восточная — 5621
                метр, а между ними седловина высотой 5200 метров и протяженностью в три
                километра. Именно поэтому подняться на Эльбрус сегодня все так же почетно.
                Каждый год сюда приезжают все новые группы туристов со смелыми замыслами и
                мечтами. А здесь, на Эльбрусе их встречают инструкторы и туристические компании с
                огромным опытом работы. Они все вместе продумывают для туристов персональные
                маршруты, учитывая возраст членов группы, их физическую подготовку, состояние
                экипировки.
            .__content-narrow
              p.
                Простым туристам на Эльбрус мы рекомендуем подниматься с северной стороны: она
                легче и живописнее. По северному склону до вершины можно подняться за 7-8 часов,
                в то время как по южному – за все 10. Кроме того, северный склон поможет вам
                укрыться от палящих солнечных лучей, а постоянно меняющийся ландшафт, почти
                нетронутой человеком природы, не даст вам заскучать. Необычно сочетание зеленой
                травы и ледников, изменчивость цвета камней и скал: от изумрудно-зеленого,
                красно-коричневого до прозрачного сверкающего льда.
              p.
                На вершине Эльбруса лежит шапка слежавшегося снега и льда, от нее в разные
                стороны спускаются десятки ледников. Те, кто бывал на этом участке земли, говорят,
                что ощущают чувство настоящего волшебства от сверкающей вокруг земли.

    +footer