include ../components/doctype/doctype
include ../components/header/header
include ../components/content/content
include ../components/footer/footer

+doctype(pages.Russkaya_Islandiya.title)
  .-wrapper
    +header(false, [pages.Russkaya_Islandiya.url])
    +content
      article.-article-view
        .__img
          img.__img-inner(src='static/img/content/articles/tree.jpg'
          alt=pages.Russkaya_Islandiya.title data-object-fit='cover' onload='objectFit(this)')

        .container-fluid
          .-article-view.__inner
            header.__header
              .__time #[span.gly.gly-down-flag]чтение 2 мин
              h1.__title=pages.Russkaya_Islandiya.title
            .__content
              p.
                Пожалуй, это одно из самых живописных и загадочных мест в России — долина
                гейзеров. Она находится в не менее самобытном месте — на Камчатке. Выглядит
                долина как каньон, по обеим стенам которого находятся гейзеры, горячие источники,
                термальные водопады и озера.
            .__content-narrow
              p.
                Найдено это место совершенно случайно российским геологом Татьяной Устиновой и
                ее местным проводником в 1941 году. В это время ученый занималась разработкой
                абсолютно другой темы.
              p.
                Биологическая система долины своеобразна: это взаимоотношения уникальных
                термодинамических условий и подземной вулканической деятельности, поэтому не
                случайно долину в 2008 году окрестили 7 чудом России. Но всегда, где есть место
                чуду, есть и возможность его быстро разрушить. Экосистема долины очень уязвима,
                поэтому здесь происходит непрерывные исследования состояния экологии, а
                экскурсии на землях заповедника ограничены.
              p.
                Специально для того, чтобы снизить нагрузку на заповедник, в 1992 году был
                придуман целый перечень строгих правил и требований к туристическим компаниям,
                которые организуют путешествия по каньону. Но самые строгие ограничения больше
                всего распространятся на самостоятельный доступ в каньон.

    +footer