include ../components/doctype/doctype
include ../components/header/header
include ../components/content/content
include ../components/footer/footer

+doctype(pages.Vulkan_Tyatya.title)
  .-wrapper
    +header(false, [pages.Vulkan_Tyatya.url])
    +content
      article.-article-view
        .__img
          img.__img-inner(src='static/img/content/articles/two.jpg'
          alt=pages.Vulkan_Tyatya.title data-object-fit='cover' onload='objectFit(this)')

        .container-fluid
          .-article-view.__inner
            header.__header
              .__time #[span.gly.gly-down-flag]чтение 2 мин
              h1.__title=pages.Vulkan_Tyatya.title
            .__content
              p.
                Любителям пощекотать себе нервы, вероятно, лучше всего будет посетить
                действующий вулкан Тятя, расположенный на острове Кунашир на Курильских
                островах. Высота этого огнедышащего монстра около двух километров, а диаметр
                основания вулкана составляет 18 км.
            .__content-narrow
              p.
                Земля окружающая вулкан, безлюдна, а все из-за извержения, начавшегося еще в
                70-х годах прошлого века. Оно было таким сильным, что пепел разлетелся по всему
                острову Шикотан, расположенному в 80-ти километрах отсюда, а поселок Тятино был
                вообще уничтожен до основания.
              p.
                Несмотря на свою опасность, это место входит в топ самых красивых на территории
                России. Еще бы! Вулкан окружает вода: Тихий океан и Охотское море, а земля вокруг
                подножия покрыта живописными лесами: широколиственными и хвойными.
              p.
                Самые заметные представители фауны здесь — это бурые медведи. Но, как говорят
                туристы и местные, нападений со стороны косолапых не было. А причиной тому
                речушки, которые буквально кишат лососем, во время нереста рыбу можно ловить
                практически голыми руками. Также леса вокруг вулкана богаты ягодами, что так же
                только на руку хранителям здешних лесов — медведям.

    +footer