.form-search
  float left
  margin-left 5px
  &__field
    display none
    &:focus
      outline 0
      box-shadow inset 0 1px 3px rgba(#295786, 0.4), inset 0 -1px 3px rgba(#295786, 0.4)
    &::placeholder
      color #395b77
      opacity 0.7
  &__btn
    width 30px
    height 30px
    font-size 18px
    line-height 1em
    border 1px solid #d4d4d4
    border-radius 2px
    color $text-color


