mixin footer()
  // Footer
  footer.-footer&attributes(attributes)
    .__inner
      .container-fluid
        p.
          По всем вопросам пишете на #[+aMail('mail@travelnovels.ru')]<br>
          Travel novels, 2017<br>
          #[+a() Политика конфиденциальности]
  // /Footer