.footer
  display table-row
  color white
  font-size 12px
  line-height 1.25em
  letter-spacing 0.075em
  height 0
  background-color #202020
  p:last-child
    margin 0
  a
    color inherit
    text-decoration underline
    &:hover, &:focus
      color inherit
      text-decoration none

  &__inner
    padding 20px 0






