mixin footer()
  // Footer
  footer.-footer&attributes(attributes)
    .__inner
      .container-fluid
        p.
          По всем вопросам пишете на #[+aMail('mail@travelnovels.ru')]<br>
          Travel novels, 2017<br>
          #[+a()(data-fancybox='privacy-policy' data-type='ajax' data-src='popups/privacy-policy.html' data-selector='.modal') Политика конфиденциальности]
  // /Footer