mixin pay-systems()
  // Pay-systems
  .-pay-systems&attributes(attributes)
    img.__item._visa(src='static/img/general/visa.png' alt='Visa' title='Visa')
    img.__item._master-card(src='static/img/general/MasterCard_Logo.png' srcset='static/img/general/MasterCard_Logo@2x.png 1.25x' alt='MasterCard' title='MasterCard')
  // /Pay-systems