.pay-systems
  display flex
  flex-flow row wrap
  justify-content center
  align-items center

  &__item
    max-height 30px
    margin-right 13px

    &_visa
      width 50px

    &_master-card
      width 42px

  @media (min-width 541px)
    justify-content flex-start