.articles-list
  font-family 'zero-width'
  margin 65px (-($grid-gutter-width/2)) 30px

  .article-item
    width unquote('calc(25% - ' + $grid-gutter-width + ')')
    margin 0 ($grid-gutter-width/2) $grid-gutter-width
