// Mixins
// --------------------------------------------------
vendors ?= official

percentage($n)
  if $n == 0
    0
  else
    unit($n * 100, "%")

url(str)
  if current-property && (current-property[0] == 'background' || current-property[0] == 'background-image' || current-property[0] == 'content')
    str = '../img/general/' + str
  unquote('url("' + str + '")')

inline-img(str)
  embedurl('build/static/img/general/' + str)

inline-svg(str)
  embedurl('build/static/img/general/' + str, 'utf8')

$p = '^[0]'

disabled()
  cursor $cursor-disabled
  opacity 0.5
  box-shadow none
  pointer-events none


// Utilities

@import "app_components/bootstrap/css/mixins/hide-text"
//@import "app_components/bootstrap/css/mixins/opacity"
//@import "app_components/bootstrap/css/mixins/image"
//@import "app_components/bootstrap/css/mixins/labels"
//@import "app_components/bootstrap/css/mixins/reset-filter"
//@import "app_components/bootstrap/css/mixins/resize"
@import "app_components/bootstrap/css/mixins/responsive-visibility"
@import "app_components/bootstrap/css/mixins/size"
@import "app_components/bootstrap/css/mixins/tab-focus"
@import "app_components/bootstrap/css/mixins/reset-text"
@import "app_components/bootstrap/css/mixins/text-emphasis"
@import "app_components/bootstrap/css/mixins/text-overflow"
//@import "./app_components/bootstrap/css/mixins/vendor-prefixes"

// Components
//@import "app_components/bootstrap/css/mixins/alerts"
@import "app_components/bootstrap/css/mixins/buttons"
//@import "app_components/bootstrap/css/mixins/panels"
//@import "app_components/bootstrap/css/mixins/pagination"
//@import "app_components/bootstrap/css/mixins/list-group"
//@import "app_components/bootstrap/css/mixins/nav-divider"
//@import "app_components/bootstrap/css/mixins/forms"
//@import "app_components/bootstrap/css/mixins/progress-bar"
//@import "app_components/bootstrap/css/mixins/table-row"

// Skins
//@import "app_components/bootstrap/css/mixins/background-variant"
@import "app_components/bootstrap/css/mixins/border-radius"
//@import "app_components/bootstrap/css/mixins/gradients"

// Layout
@import "app_components/bootstrap/css/mixins/clearfix"
@import "app_components/bootstrap/css/mixins/center-block"
//@import "app_components/bootstrap/css/mixins/nav-vertical-align"
@import "app_components/bootstrap/css/mixins/grid-framework"
@import "app_components/bootstrap/css/mixins/grid"
