mixin social-networks()
  // Social-networks
  .-social-networks&attributes(attributes)
    +a.__item.icon-vkontakte(target='_blank' title='VK')
    +a.__item.icon-facebook-6(target='_blank' title='Facebook')
    +a.__item.icon-instagram(target='_blank' title='Instagram')
  // /Social-networks