.form-subscribe
  text-align center
  padding 50px
  background-color white
  border 1px solid #d6d6d6
  margin-bottom 30px

  &__title
    color #676767
    font-size 18px
    font-weight 400
    line-height 1.25
    letter-spacing 0.025em
    font-family 'Arial Narrow', $font-family-base
    text-align center
    margin 0 0 30px

  &__title-img
    display block
    margin 0 auto 15px

  &__field
    display block
    color $text-color
    text-align center
    font-size 14px
    line-height 45px
    font-weight 400
    width 100%
    height 47px
    padding 0 10px
    margin 0 auto 22px
    background-color #f2f2f2
    border 1px solid #d6d6d6
    transition $transition-base
    &::placeholder
      color silver
      font-style italic
    &:focus
      border-color #000