.cloud
  display inline-block
  vertical-align top
  background inline-svg('cloud.svg') no-repeat 0 0/100% 100%
  min-width 97px
  padding 16px 10px
  text-shadow 0 1px 0 white
  color black
  font-size 16px
  font-weight 700
  cursor default
  white-space nowrap

