-
  var voidHref = 'javascript:;';

  var pages = {
    home: {title: 'List of pages', url: 'home.html'},
    index: {title: 'Главная', url: 'index.html'},
    Charskie_peski: {title: 'Чарские пески', url: 'Charskie_peski.html'},
    Vulkan_Tyatya: {title: 'Вулкан Тятя', url: 'Vulkan_Tyatya.html'},
    Russkaya_Islandiya: {title: 'Русская Исландия', url: 'Russkaya_Islandiya.html'},
    Puteshestvie_na_Elbrus: {title: 'Путешествие на Эльбрус', url: 'Puteshestvie_na_Elbrus.html'},
    Neobyiknovennyiy_Altay: {title: 'Необыкновенный Алтай', url: 'Neobyiknovennyiy_Altay.html'},
    archive: {title: 'Архив', url: 'archive.html'}
  };

  var modals = {

  };